.VerifyMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* border: 1px solid red; */
}

.cubeV {
    width: 8rem;
    position: absolute;
    right: 15rem;
    top: 8rem;
    transform: rotate(80deg);
    animation: bounce 2.5s infinite;
}

.cube1V {
    width: 8rem;
    position: absolute;
    left: 15rem;
    top: 8rem;
    transform: rotate(-60deg);
    animation: bounce 2.5s infinite;
}

.cube2V {
    width: 12rem;
    position: absolute;
    left: 7rem;
    top: 19rem;
    transform: rotate(50deg);
    animation: bounce 2.5s infinite;
}

.cube3V {
    align-self: flex-end;
    z-index: 11;
}

.DragAndDrop {
    display: inline-block;
    padding: 16.9px 60px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.FileId {
    margin-top: 2rem;
    display: inline-block;
    padding: 0.5rem 130px;
    border: 0;
    border-radius: 7px;
    background-color: rgba(10, 101, 248, 0.455);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: #083e81;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}


.custom-modal1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.modal-content1 {
    background-color: #0d72ed;
    padding: 10px;
    width: 30rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
    text-align: start;
    display: flex;
    flex-direction: column;
    color: white;
}

.modal-content1 p {
    color: #69EC00;
    font-weight: 500;
}

.verify-buttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.verify-buttons button {
    background-color: rgb(73, 155, 242);
    border: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: white;
    font-weight: 500;
}

.close-button {
    align-self: flex-end;
    border: none;
    background-color: #5498ff;
    color: white;
    font-size: 1.5rem;
    border-radius: 0.2rem;
}

.failur-button {
    background-color: rgb(73, 155, 242);
    border: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: white;
    font-weight: 500;
    align-self: center;
    font-size: 2rem;
}

.modal-title1{
    text-align: center;
    padding: 1rem;
}