.folderList {
    /* border: 1px solid red; */
    overflow: auto;
    height: 11rem;
}

.folderList::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar for WebKit (Chrome, Safari, etc.) */
}

.shadows {
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
}

.parallelShape {
    background-image: url("data:image/svg+xml,%3Csvg width='310' height='236' viewBox='0 0 310 236' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M162.294 26C162.294 20.4219 162.294 17.6328 162.847 15.3311C164.602 8.01812 170.312 2.30829 177.625 0.552601C179.927 0 182.716 0 188.294 0H266C286.742 0 297.113 0 303.556 6.44365C310 12.8873 310 23.2582 310 44V172.5C310 180.985 310 185.228 307.364 187.864C304.728 190.5 300.485 190.5 292 190.5H252.743C233.998 190.5 224.625 190.5 217.015 195.075C209.406 199.65 205.01 207.928 196.218 224.484L195.178 226.442C192.706 231.098 191.47 233.427 189.329 234.713C187.189 236 184.553 236 179.281 236H44C23.2582 236 12.8873 236 6.44365 229.556C0 223.113 0 212.742 0 192V92C0 73.1438 0 63.7157 5.85786 57.8579C11.7157 52 21.1438 52 40 52H136.294C141.872 52 144.661 52 146.963 51.4474C154.276 49.6917 159.986 43.9819 161.742 36.6689C162.294 34.3672 162.294 31.5781 162.294 26Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    width: 13rem;
    height: 10rem;
    border-radius: 1rem;
}

.file-uploader {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.file-uploader.highlight {
    background-color: #f0f0f0;
    border-color: #aaa;
}

.file-uploader1 {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.file-uploader1.highlight {
    background-color: #f0f0f0;
    border-color: #aaa;
}