.mydataScrollBarOne {
    /* border: 1px solid red; */
    overflow: auto;
    height: 18rem;
}

.mydataScrollBarOne::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar for WebKit (Chrome, Safari, etc.) */
}