.listOfSettingNames {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    background-color: #2184E5;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.25);
    list-style-type: none;
}

.listOfSettingNames li {
    color: #fff;
    width: 10rem;
    text-align: center;
    cursor: pointer;
    margin: 0rem 1rem 0rem 1rem;
    position: relative;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
}

.listOfSettingNames li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
}

.listOfSettingNames li:hover::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
}


.listOfSettingNames li.active {
    border-bottom: 2px solid rgb(255, 255, 255);
}