/* Reset some default styling */
body,
ul {
    margin: 0;
    padding: 0;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 20rem;
}

/* Dropdown button */
.dropbtn {
    background-color: #2184E5;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 12rem;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2184E5;
    min-width: 192px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(-117%);
    /* Move it upwards by default */
}

/* Dropdown content items */
.dropdown-content li {
    padding: 10px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    margin: 1rem;
    border-radius: 0.5rem;
}

.dropdown-content li:hover {
    box-shadow: 0px 8px 16px 0px rgba(226, 5, 5, 0.502);
}

/* Show the dropdown content on button hover */
.dropdown:hover .dropdown-content {
    display: block;
}