.ServicesContainerOne {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
    flex-direction: column;
}

.cubeImageservice {
    width: 12rem;
    transform: rotate(20deg);
}

.TitlesOfServices {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.TitlesOfServices h4 {
    font-size: 3rem;
    font-weight: 600;
    width: 43rem;
    text-align: end;
    padding-right: 3rem;
}

.OurServiceTextContents {
    padding-left: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.OurServiceTextContents h4 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 5rem;
}

span {
    color: #0069EC;
}

.OurServiceTextContents p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.EllipseBlueServices {
    width: 15rem;
    height: 18rem;
    align-self: flex-end;
}

.carousel-buttons-Titles {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4rem;
    padding-top: 0.5rem;
}

.carousel-buttons-Titles button {
    padding: 5px 5px;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    display: flex;
}

.carousel-buttons-Titles i {
    font-size: 1.5rem;
}

.points-Titles {
    display: flex;
    justify-content: center;
}

.point-Title {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #86a4c9;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.point-Title.active-Title {
    background-color: #CF2850;
}