.ServicesFrameThreeContainer {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
    flex-direction: column;
}

.FrameContentOne {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.FrameContentOne p {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 5rem;
    text-align: right;
    padding-right: 2rem;
}

.FrameContentOne img {
    width: 15rem;
    height: 15rem;
    transform: rotate(180deg);
}

.FrameContentTwo {
    display: flex;
    justify-content: space-between;
    height: 50%;
    align-items: center;
}

.FrameContentTwo p {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem;
}

.FrameContentTwo img {
    width: 12rem;
    transform: rotate(20deg);
    margin-right: 10rem;
}