.ServicesFrameTwoContainer {
    height: 100vh;
    background-color: #0069ec;
    display: flex;
    flex-direction: column;
    color: white;
    scroll-snap-align: start;
}

.PointsUnderTitle {
    text-align: center;
}

.PointsUnderTitle h4 {
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 4.5rem;
    text-align: center;
    margin: 0;
}

.PointsContentUnderTitle p {
    font-size: 1.5rem;
    text-align: end;
    padding-top: 1rem;
    padding-right: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
}

.PointsContentTwo {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.PointsContentTwo p {
    font-size: 1.5rem;
    text-align: left;
    align-self: center;
    padding-left: 1rem;
    font-weight: 500;
}

.PointsContentTwo img {
    width: 15rem;
    height: 13rem;
    align-self: flex-end;
}

.carousel-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-buttons button {
    padding: 5px 5px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.carousel-buttons i {
    font-size: 1.5rem;
}

.points {
    display: flex;
    justify-content: center;
}

.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.point.active {
    background-color: #3498db;
}