.ServicesFrameFourContainer {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
    flex-direction: column;
}

.ServicesFrameFourContainer{
    padding-top: 5rem;
}

.ServicesFrameFourContainer h4 {
    width: 100%;
    background-color: #0069ec;
    padding: 1rem;
    text-align: center;
    color: white;
}

.ServicesFrameFourContainer p {
    font-size: 1rem;
    text-align: center;
    padding-top: 1.5rem;
    color: gray;
    line-height: 1.3rem;
    padding-bottom: 4rem;
}

.ServiceFooterMailFeild {
    width: 40rem;
    background-color: rgb(200, 238, 225);
    display: flex;
    padding: 0.8rem;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    border-radius: 0.3rem;
}

.ServiceFooterMailFeild p {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: rgb(71, 69, 69);
    font-weight: 500;
}

.ServicesFooter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ServicesFooter img {
    width: 13rem;
    height: 13rem;
    transform: rotate(90deg);
}

.ServicesFooter p {
    margin: 0;
    padding: 0;
    padding-left: 10rem;
    color: black;
    padding-top: 3rem;
}




/* variables */
:root {
    --background: #f5f6fa;
    --text: #9c9c9c;
    --input-bg-color: #fff;
    --input-text-color: #a3a3a3;
    --button-bg-color: #7f8ff4;
    --button-text-color: #fff;
}

/* root */
:root {
    background: var(--background);
    color: var(--text);
    font: 1rem "PT Sans", sans-serif;
}

a {
    color: inherit;
}

a:hover {
    color: var(--button-bg-color);
}

/* helper */
.ServiceFooterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

/* button */
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.btn--primary {
    background: var(--button-bg-color);
    color: var(--button-text-color);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 36px;
}

.btn--primary:hover {
    background: rgba(127, 143, 244, 0.96);
}

.btn--primary:active {
    background: var(--button-bg-color);
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

.btn--inside {
    margin-left: -96px;
}

/* form */
.form__field {
    width: 360px;
    background: #fff;
    color: var(--input-text-color);
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 16px 12px;
}