.AffiliationMainContainer {
    height: 100vh;
}

.circle2222 {
    position: absolute;
    right: 0;
    top: 17rem;
    width: 14rem;
}

.AffiliationMainContainer .partOne {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AffiliationMainContainer .partTwo {
    height: 20%;
    background-color: #0069ec;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.AffiliationMainContainer .partOne h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.AffiliationMainContainer span {
    color: #0069ec;
}

.homebuttonlogo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.previewProfilePic {
    background-color: #427388;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
}
