@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
    position: relative;
    width: 100%;
    background: #fff;
    min-height: 300px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.menu__link {
    font-size: 1.2rem;
    color: #000;
    margin: 0 30px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.wrapper1 {
    display: inline-flex;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
}

.wrapper1 .icon {
    position: relative;
    background: transparent;
    color: #000;
    border: 1px solid rgb(219, 214, 214);
    border-radius: 50%;
    padding: 25px;
    margin: 15px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper1 .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper1 .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper1 .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper1 .icon:hover span,
.wrapper1 .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper1 .facebook:hover,
.wrapper1 .facebook:hover .tooltip,
.wrapper1 .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}

.wrapper1 .twitter:hover,
.wrapper1 .twitter:hover .tooltip,
.wrapper1 .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}

.wrapper1 .instagram:hover,
.wrapper1 .instagram:hover .tooltip,
.wrapper1 .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}

.wrapper1 .github:hover,
.wrapper1 .github:hover .tooltip,
.wrapper1 .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.wrapper1 .youtube:hover,
.wrapper1 .youtube:hover .tooltip,
.wrapper1 .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}


.footer p {
    color: #000;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}



.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-left: 40px;
    color: #000;
}

.input-search::placeholder {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    color: #fff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    /* border: 1px solid red; */
    width: 25rem;
    border-radius: 10px;
    background-color: #22a6b3;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 2000ms cubic-bezier(0, 0.11, 0.35, 2);
    position: absolute;
    right: 25px;
    top: -24px;
}

.input-search:focus {
    width: 35rem;
    border-radius: 10px;
    margin-right: 1rem;
    background-color: #22a6b3;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 2000ms cubic-bezier(0, 0.11, 0.35, 2);
}