@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.header {
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: 1s all;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.header-bg {
    height: 80px;
    border-radius: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

nav {
    max-width: 70rem;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 10%, #ffffff 80%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 5px 10px;
}

nav ul {
    text-align: center;
    background:
        linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 25%,
            rgba(255, 255, 255, 0.2) 75%,
            rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 15px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(28, 25, 25, 0.757);
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    display: block;
}

:root {
    --link-1: #093e8d;
}

.style-2 {
    position: relative;
    transition: color .3s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        top: 80%;
        right: 4%;
        width: 90%;
        height: 3px;
        background-color: var(--link-1);
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    &:hover {
        color: var(--link-1);
    }

    &:hover::before {
        transform: scaleX(1);
    }
}

@media (min-width: 768px) {
    .button-background-move {
        padding: 1px 1px 1px;
        height: 2.5rem;
        width: 8rem;
    }
}

.logo {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    cursor: pointer;
}

.ulScroll a {
    color: black;
}

.buttons {
    display: flex;
    width: 200px;
    gap: 10px;
    --b: 3px;
    /* the border thickness */
    --h: 2em;
    /* the height */
    position: absolute;
    top: 1.3rem;
    right: 2rem;
}

.buttons button {
    --_c: #004B93;
    flex: calc(.75 + var(--_s, 0));
    min-width: 0;
    font-size: 20px;
    font-weight: bold;
    height: var(--h);
    cursor: pointer;
    color: var(--_c);
    border: var(--b) solid var(--_c);
    background:
        conic-gradient(at calc(100% - 1.3*var(--b)) 0, var(--_c) 209deg, #0000 211deg) border-box;
    clip-path: polygon(0 0, 100% 0, calc(100% - 0.577*var(--h)) 100%, 0 100%);
    padding: 0 calc(0.288*var(--h)) 0 0;
    margin: 0 calc(-0.288*var(--h)) 0 0;
    box-sizing: border-box;
    transition: flex .4s;
}

.buttons button+button {
    --_c: #CF2850;
    flex: calc(.75 + var(--_s, 0));
    background:
        conic-gradient(from -90deg at calc(1.3*var(--b)) 100%, var(--_c) 119deg, #0000 121deg) border-box;
    clip-path: polygon(calc(0.577*var(--h)) 0, 100% 0, 100% 100%, 0 100%);
    margin: 0 0 0 calc(-0.288*var(--h));
    padding: 0 0 0 calc(0.288*var(--h));
}

.buttons button:focus-visible {
    outline-offset: calc(-2*var(--b));
    outline: calc(var(--b)/2) solid #000;
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
}

.buttons button:focus-visible+button {
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
}

.buttons button:has(+ button:focus-visible) {
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
}

button:hover,
button:active:not(:focus-visible) {
    --_s: .75;
}

button:active {
    box-shadow: inset 0 0 0 100vmax var(--_c);
    color: #fff;
}