.loginOTPMainContainer {
    height: 100vh;
}

.loginOTPMainContainer .partOneOTP {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginOTPMainContainer .partTwoOTP {
    height: 20%;
    background-color: #0069ec;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginOTPMainContainer .partOneOTP h2 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.loginOTPMainContainer .partOneOTP h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.loginOTPMainContainer span {
    color: #0069ec;
}

.homebuttonlogo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.circle22 {
    position: absolute;
    right: 0;
    top: 17rem;
    width: 14rem;
}

.cube00 {
    width: 12rem;
    position: absolute;
    right: 10rem;
    top: 8rem;
    transform: rotate(80deg);
    animation: bounce 2.5s infinite;
}

.cube11 {
    width: 10rem;
    position: absolute;
    left: 13rem;
    top: 2rem;
    transform: rotate(-60deg);
    animation: bounce 2.5s infinite;
}

.cube22 {
    width: 14rem;
    position: absolute;
    left: 4rem;
    top: 17rem;
    transform: rotate(50deg);
    animation: bounce 2.5s infinite;
}


.otp-container {
    display: flex;
    gap: 10px;
    margin-left: 6rem;
}

.otp-input {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.otp-input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline-color: #0069ec;
}

.otp-input[type='text']::-webkit-outer-spin-button,
.otp-input[type='text']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.circle-button {
    width: 60px;
    height: 59px;
    border-radius: 50%;
    background-color: #3cb371;
    /* Adjust the color as needed */
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3.3rem;
    font-weight: bold;
    margin-left: 2rem;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}