.mainContainerPhilosophy {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.philosophyFooter {
    background-color: #0069ec;
    height: 12vh;
    scroll-snap-align: start;
    text-align: center;
    color: #fff;
}

.philosophyFooter h6 {
    font-weight: bold;
    margin: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
}

.philosophyFooter span {
    color: #69EC00;
}