.profileDetailContainer {
    height: 100vh;
}

.profileDetailContainer .profilePartOne {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileDetailContainer .profilePartTwo {
    height: 20%;
    background-color: #0069ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileDetailContainer .profilePartOne h4 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
    width: 50rem;
    text-align: center;
    padding-top: 6rem;
}

.profileDetailContainer span {
    color: #0069ec;
}

.homebuttonlogo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.circle22 {
    position: absolute;
    right: 0;
    top: 17rem;
    width: 14rem;
}

.cube00 {
    width: 12rem;
    position: absolute;
    right: 10rem;
    top: 8rem;
    transform: rotate(80deg);
    animation: bounce 2.5s infinite;
}

.cube11 {
    width: 10rem;
    position: absolute;
    left: 13rem;
    top: 2rem;
    transform: rotate(-60deg);
    animation: bounce 2.5s infinite;
}

.cube22 {
    width: 14rem;
    position: absolute;
    left: 4rem;
    top: 17rem;
    transform: rotate(50deg);
    animation: bounce 2.5s infinite;
}

.file-upload {
    display: none;
}

.p-image {
    position: absolute;
    z-index: 2;
    right: 35rem;
    color: #0069ec;
    cursor: pointer;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
    font-size: 2.5em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #CF2850;
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.imageWrapper .image-upload {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 100px;
}

.imageWrapper .image-upload input[type='file'] {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.imageWrapper .image-upload:hover {
    background-position: 0 -100%;
    color: #2590EB;
}

.btnfos1 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    width: 25rem;
    height: 3rem;
    margin: 0rem 2rem 0rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 500;
    background-color: transparent;
}

.btnfos1:hover {
    color: rgb(255, 255, 255);
    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
    font-weight: 500;
}

.btnfos1::placeholder {
    color: rgb(255, 255, 255);
}

select {
    appearance: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-image: none;
    cursor: pointer;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    width: 25rem;
    height: 3rem;
    border-radius: 0.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 500;
    background-color: transparent;
    margin-right: 2rem;
}

select option {
    background-color: #bdeee8;
    color: #464749;
}



select:hover {
    color: rgb(255, 255, 255);
    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
    font-weight: 500;
}



@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

.my-super-cool-btn {
    position: relative;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 500;
    box-sizing: border-box;
}

.my-super-cool-btn span {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    color: #fff;
}

.my-super-cool-btn span:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border-radius: 0.7rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
    box-shadow: 0 30px 85px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}

.my-super-cool-btn:hover span:before {
    transform: scale(0.8);
    box-shadow: 0 20px 55px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}

.my-super-cool-btn .dots-container {
    opacity: 0;
    animation: intro 1.6s;
    animation-fill-mode: forwards;
}

.my-super-cool-btn .dot {
    width: 8px;
    height: 8px;
    display: block;
    background-color: #e6e636;
    border-radius: 100%;
    position: absolute;
    transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}

.my-super-cool-btn .dot:nth-child(1) {
    top: 50px;
    left: 50px;
    transform: rotate(-140deg);
    animation: swag1-out 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.my-super-cool-btn .dot:nth-child(2) {
    top: 50px;
    right: 50px;
    transform: rotate(140deg);
    animation: swag2-out 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.my-super-cool-btn .dot:nth-child(3) {
    bottom: 50px;
    left: 50px;
    transform: rotate(140deg);
    animation: swag3-out 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.my-super-cool-btn .dot:nth-child(4) {
    bottom: 50px;
    right: 50px;
    transform: rotate(-140deg);
    animation: swag4-out 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.my-super-cool-btn:hover .dot:nth-child(1) {
    animation: swag1 0.3s;
    animation-fill-mode: forwards;
}

.my-super-cool-btn:hover .dot:nth-child(2) {
    animation: swag2 0.3s;
    animation-fill-mode: forwards;
}

.my-super-cool-btn:hover .dot:nth-child(3) {
    animation: swag3 0.3s;
    animation-fill-mode: forwards;
}

.my-super-cool-btn:hover .dot:nth-child(4) {
    animation: swag4 0.3s;
    animation-fill-mode: forwards;
}

@keyframes intro {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes swag1 {
    0% {
        top: 50px;
        left: 50px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        top: 20px;
        left: 20px;
        width: 8px;
        opacity: 1;
    }
}

@keyframes swag1-out {
    0% {
        top: 20px;
        left: 20px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        top: 50px;
        left: 50px;
        width: 8px;
        opacity: 0;
    }
}

@keyframes swag2 {
    0% {
        top: 50px;
        right: 50px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        top: 20px;
        right: 20px;
        width: 8px;
        opacity: 1;
    }
}

@keyframes swag2-out {
    0% {
        top: 20px;
        right: 20px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        top: 50px;
        right: 50px;
        width: 8px;
        opacity: 0;
    }
}

@keyframes swag3 {
    0% {
        bottom: 50px;
        left: 50px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        bottom: 20px;
        left: 20px;
        width: 8px;
        opacity: 1;
    }
}

@keyframes swag3-out {
    0% {
        bottom: 20px;
        left: 20px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        bottom: 50px;
        left: 50px;
        width: 8px;
        opacity: 0;
    }
}

@keyframes swag4 {
    0% {
        bottom: 50px;
        right: 50px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        bottom: 20px;
        right: 20px;
        width: 8px;
        opacity: 1;
    }
}

@keyframes swag4-out {
    0% {
        bottom: 20px;
        right: 20px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        bottom: 50px;
        right: 50px;
        width: 8px;
        opacity: 0;
    }
}