.ProjectsPageMainContainer {
    height: 100vh;
}

.ProjectsPageMainContainer .ProjectsPagePartOne {
    display: flex;
    height: 80%;
    flex-direction: column;
}

.ProjectsPageMainContainer .projectsPagePartTwo {
    height: 20%;
    background-color: #0069ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectsPageMainContainer .ProjectsPagePartOne h2 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.ProjectsPageMainContainer .ProjectsPagePartOne h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.ProjectsPageMainContainer span {
    color: #0069ec;
}

.homebuttonlogo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.LoginButtonLogo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.circle23 {
    position: absolute;
    right: 0;
    top: 17rem;
    width: 14rem;
}

.acntAddProjButtons {
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.myAcntButton {
    text-transform: uppercase;
    text-decoration: none;
    width: 12rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: all 0.2s;
    background-color: #007BEC;
    color: #fcf9f9;
    margin: 0.5rem 2rem 0.5rem 1rem;
    border: 2px solid;
    font-weight: 500;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.myAcntButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.addProjButton {
    text-transform: uppercase;
    text-decoration: none;
    width: 12rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: all 0.2s;
    background-color: #007BEC;
    color: #fcf9f9;
    margin: 0.5rem 2rem 0.5rem 1rem;
    border: 2px solid;
    font-weight: 500;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.addProjButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.allProjectsBlock {
    display: flex;
    padding: 1rem 1rem 1rem 1.5rem;
}

.allProjectsBlock div {
    width: 9rem;
    height: 9rem;
    margin-right: 2rem;
    background-color: aliceblue;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.allProjectsBlock div p{
    margin: 0;
    padding: 0.8rem;
}

.allProjectsBlock div h5 {
    margin: 0;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.8rem;
}

.allProjectsBlock div button {
    width: 7rem;
    height: 1.8rem;
    font-size: 0.8rem;
    align-self: center;
    margin: 0.8rem;
    border: white;
    background-color: #0069ec;
    border-radius: 0.5rem;
    color: white;
    font-weight: 500;
}
