.RegisterOrganizationMainContainer {
    height: 100vh;
}

.circle2222 {
    position: absolute;
    right: 0;
    top: 17rem;
    width: 14rem;
}

.RegisterOrganizationMainContainer .partOne {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterOrganizationMainContainer .partTwo {
    height: 20%;
    background-color: #0069ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterOrganizationMainContainer .partOne h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.RegisterOrganizationMainContainer span {
    color: #0069ec;
}

.homebuttonlogo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.previewProfilePic {
    background-color: #427388;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
}

.Organisation-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 50px;
}

.Organisation-fields input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 2px solid #dad7d7d1;
    border-radius: 5px;
    outline: none;
    background-color: rgb(90, 137, 247);
    color: white;
}

.Organisation-fields input::placeholder {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.Organisation-fields input:focus {
    box-shadow: 0 0 20px #8c8484;
}

.OrganisationSubmit {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    margin: 0.1rem;
    border-radius: 0.2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 0.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: transparent;
    width: 18rem;
    padding: 0.5rem;
}

.OrganisationSubmit:hover {
    color: rgb(255, 255, 255);
    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
    font-weight: 500;
}