.SubscriptionMainContainer {
    height: 100vh;
}

.SubscriptionMainContainer .partOne {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SubscriptionMainContainer .partTwo {
    height: 20%;
    background-color: #0069ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homebuttonlogo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.circle222 {
    position: absolute;
    right: 0;
    top: 17rem;
    width: 14rem;
}

.cube000 {
    width: 12rem;
    position: absolute;
    right: 8rem;
    top: 6rem;
    transform: rotate(80deg);
}

.cube111 {
    width: 10rem;
    position: absolute;
    left: 10rem;
    top: 2rem;
    transform: rotate(-60deg);
}

.cube222 {
    width: 14rem;
    position: absolute;
    left: 1rem;
    top: 17rem;
    transform: rotate(50deg);
}

.subBtnfos {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    width: 20rem;
    height: 3rem;
    margin: 0rem 4rem 0rem 4rem;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subBtnfos:hover {
    color: rgb(255, 255, 255);
    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
    font-weight: 500;
}

.subscriptionTextBox {
    width: 50rem;
    height: 6rem;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.8rem 0.1rem 0.5rem 0.1rem;
    font-weight: 600;
    word-spacing: 3px;
}


.subscriptionPackBox {
    width: 47rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscriptionPackBox h1 {
    text-align: center;
    color: hsl(233, 13%, 49%);
    font-size: 20px;
}

.subscriptionPackBox .header-two {
    color: white;
}

.subscriptionPackBox h2 {
    font-size: 1.5rem;
    color: hsl(234, 42%, 54%);
}

.subscriptionPackBox .price {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(232, 13%, 33%);
    font-weight: 500;
}

.subscriptionPackBox .card-two .price {
    color: white;
    font-weight: 500;
}

.subscriptionPackBox .dollar-span {
    font-size: 20px;
    margin-right: 5px;
    font-weight: 500;
}

.subscriptionPackBox .annually {
    display: block;
}

.subscriptionPackBox p {
    font-size: 13px;
    margin: 0px;
}

.subscriptionPackBox .toggle-selector {
    display: flex;
    width: 300px;
    color: hsl(234, 14%, 74%);
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
}

.subscriptionPackBox #toggle-space {
    background-color: hsl(237, 63%, 64%);
    width: 50px;
    height: 22px;
    padding: 3px;
    margin: 0px;
    margin-bottom: 7px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.subscriptionPackBox .toggle-ball {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 3px;
    left: 30px;
    transition: left 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    /* Using cubic-bezier for smooth animation */
}

.subscriptionPackBox .active {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 3px;
    left: 3px;
    /* Adjust the 'left' value to move the toggle to the active position */
    transition: left 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    /* Using cubic-bezier for smooth animation */
}


.subscriptionPackBox #toggle-space:hover {
    opacity: 50%;
}

.subscriptionPackBox .cards {
    display: flex;
    text-align: center;
    align-items: center;
}


.subscriptionPackBox .card-two {
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 14rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.subscriptionPackBox .card-two p,
.card-one p,
.card-three p {
    padding: 10px;
}

.subscriptionPackBox .card-one p,
.card-three p {
    color: hsl(233, 13%, 49%);
}

.subscriptionPackBox .card-one {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 20px 20px 20px;
    width: 12rem;
    height: 16rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.subscriptionPackBox .card-three {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px 20px 20px;
    width: 12rem;
    height: 16rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.subscriptionPackBox hr {
    opacity: 30%;
    color: rgb(110, 106, 104);
    margin: 4px;
}

.subscriptionPackBox .card-two hr {
    opacity: 30%;
    color: rgb(255, 255, 255);
    margin: 3px;
}

.subscriptionPackBox button {
    width: 100%;
    margin: 10px auto 0px auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: hsl(237, 63%, 64%);
    border: none;
    transition-duration: 3000;
    text-transform: uppercase;
    font-weight: 500;
}

.subscriptionPackBox .card-two button {
    color: hsl(237, 63%, 64%);
    background-color: white;
    margin: 25px auto 0px auto;
}

.subscriptionPackBox .card-two button:hover {
    color: white;
    background-color: transparent;
}

.subscriptionPackBox button:hover {
    color: hsl(237, 63%, 64%);
    background-color: transparent;
}

.modal-content {
    border: none;
    border-radius: 1rem;
    background: linear-gradient(to top, #4ca1af, #c4e0e5);
}



.btnCancel {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(219, 210, 210, 0.371);
    width: 9rem;
    height: 2.5rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 5rem;
    color: rgb(234, 233, 233);
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 70, 70);
}

.btnCancel:hover {
    color: rgb(55, 53, 53);
    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(227, 52, 52, 0);
    text-shadow: 1px 1px 2px #1e98cc;
    font-weight: 500;
}

.btnConfirm {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(219, 210, 210, 0.371);
    width: 9rem;
    height: 2.5rem;
    margin: 0rem 1rem 0rem 1rem;
    border-radius: 5rem;
    color: rgb(234, 233, 233);
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 186, 70);
}

.btnConfirm:hover {
    color: rgb(55, 53, 53);
    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(227, 52, 52, 0);
    text-shadow: 1px 1px 2px #1e98cc;
    font-weight: 500;
}