.link {
    text-decoration: none;
}

.userHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.optionsBlock {
    border-radius: 0.9rem;
    width: 15rem;
    margin: 1rem;
    height: 29rem;
    background: linear-gradient(to bottom, #237cf0, #237cf0);

}

.topBoxes {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}



.menuButtonsForUser {
    border: none;
    cursor: pointer;
    color: #ffffff;
    padding: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.menuButtonsForUser.active,
.menuButtonsForUser:hover {
    color: #fff;
    text-shadow: 0 0 5px #9fbdbf,
        0 0 25px #9fbdbf,
        0 0 50px #9fbdbf,
        0 0 100px #9fbdbf;
    border-left: 3px solid #fff;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    padding: 1rem;
}

.menuButtonsForUser:active {
    color: #F1F2F2;
    box-shadow: none;
}


.container {
    margin: 15px 0 15px 0;
    width: 240px;
    text-align: center;
}

.progress2 {
    padding: 2px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
    height: 10px;
    border-radius: 30px;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
    width: 90%;
    background-color: #0d69be;
}

/* Colors */
:root {
    --green: #4cd964;
    --turquoise: #5ac8fa;
    --blue: #007aff;
    --light-blue: #7DC8E8;
    --purple: #5856d6;
    --red: #ff2d55;
}


/* Dropdown container1 */
.dropdown1 {
    position: absolute;
    display: inline-block;
    right: 35rem;
    bottom: 0;
    z-index: 1;
}

/* Dropdown button */
.dropbtn1 {
    background-color: #2184E5;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 14rem;
}

/* Dropdown content */
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #2184E5;
    min-width: 223px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(-117%);
    /* Move it upwards by default */
}

/* Dropdown content items */
.dropdown-content1 li {
    padding: 10px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    margin: 1rem;
    border-radius: 0.5rem;
}

.dropdown-content1 li:hover {
    box-shadow: 0px 8px 16px 0px rgba(226, 5, 5, 0.502);
}

/* Show the dropdown content on button hover */
.dropdown1:hover .dropdown-content1 {
    display: block;
}


/* Dropdown container2 */
.dropdown2 {
    position: absolute;
    display: inline-block;
    right: 20rem;
    bottom: 0rem;
    z-index: 1;
}

/* Dropdown button */
.dropbtn2 {
    background-color: #EDF6FE;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 14rem;
}

/* Dropdown content */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #EDF6FE;
    min-width: 223px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(-117%);
    /* Move it upwards by default */
}

/* Dropdown content items */
.dropdown-content2 li {
    padding: 10px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    margin: 1rem;
    border-radius: 0.5rem;
}

.dropdown-content2 li:hover {
    box-shadow: 0px 8px 16px 0px rgba(124, 176, 244, 0.848);
}

/* Show the dropdown content on button hover */
.dropdown2:hover .dropdown-content2 {
    display: block;
}



/* Dropdown container3 */
.dropdown3 {
    position: absolute;
    display: inline-block;
    right: 5rem;
    bottom: 0rem;
    z-index: 1;
}

/* Dropdown button */
.dropbtn3 {
    background-color: #CF2850;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 14rem;
}

/* Dropdown content */
.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #CF2850;
    min-width: 223px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(-117%);
    /* Move it upwards by default */
}

/* Dropdown content items */
.dropdown-content3 li {
    padding: 10px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    margin: 1rem;
    border-radius: 0.5rem;
}

.dropdown-content3 li:hover {
    box-shadow: 0px 8px 16px 0px rgb(70, 170, 237);
}

/* Show the dropdown content on button hover */
.dropdown3:hover .dropdown-content3 {
    display: block;
}