.WaitListMainContainer {
    height: 100vh;
}

.WaitListMainContainer .partOne {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WaitListMainContainer .partTwo {
    height: 20%;
    background-color: #0069ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WaitListMainContainer .partOne h2 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.WaitListMainContainer .partOne h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}

.WaitListMainContainer span {
    color: #0069ec;
}

.homebuttonlogo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.circle222 {
    position: absolute;
    right: 0;
    top: 17rem;
    width: 14rem;
}

.cube000 {
    width: 12rem;
    position: absolute;
    right: 10rem;
    top: 8rem;
    transform: rotate(80deg);
    animation: bounce 2.5s infinite;
}

.cube111 {
    width: 10rem;
    position: absolute;
    left: 13rem;
    top: 2rem;
    transform: rotate(-60deg);
    animation: bounce 2.5s infinite;
}

.cube222 {
    width: 14rem;
    position: absolute;
    left: 4rem;
    top: 17rem;
    transform: rotate(50deg);
    animation: bounce 2.5s infinite;
}

/* Add these styles to your existing App.css file */

.login-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 50px;
}

.login-fields input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 2px solid #dad7d7d1;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: white;
}

.login-fields input::placeholder {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.login-fields input:focus {
    box-shadow: 0 0 20px #8c8484;
}


.btnfos {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0.5rem;
}

.btnfos:hover {
    color: rgb(255, 255, 255);
    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
    font-weight: 500;
}

.waitListSubmit {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 3rem;
    padding: 0.5rem;
    background-color: transparent;
}

.waitListSubmit:hover{
    color: rgb(255, 255, 255);
    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
    font-weight: 500;
}



@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.continueButton {
    padding: 10px 35px;
    background-color: #004B93;
    color: #fff;
    font-weight: bold;
    border: 0 solid;
    border-radius: 8px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 1rem;
    cursor: pointer;
    outline: 2px solid;
}

.continueButton:hover {
    background: #ec5377;
    color: #fff;
    box-shadow: 0 0 2px #ec5377,
        0 0 1px #ec5377,
        0 0 1px #ec5377,
        0 0 10px #ec5377;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}





@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

.row span {
    position: relative;
    display: inline-block;
    margin: 30px 10px;
}

.basic-slide {
    display: inline-block;
    width: 300px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 70px;
    transition: all .3s ease-in-out;
}

.basic-slide::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}

.basic-slide+label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
    background: #cf284fce;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
}

.basic-slide:focus,
.basic-slide:active {
    color: #377D6A;
    text-indent: 0;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.basic-slide:focus::-webkit-input-placeholder,
.basic-slide:active::-webkit-input-placeholder {
    color: #004B93;
    font-weight: bold;
}

.basic-slide:focus+label,
.basic-slide:active+label {
    transform: translateX(-100%);
}