
.frameThreeContainer {
    height: 100vh;
}

@keyframes display {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-40px);
        opacity: 0;
    }

    100% {
        transform: translateX(-40px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 12rem;
    height: 20rem;
    margin-top: 2vh;
    margin-bottom: 3rem;
    border: 3px solid black;
    /* left: 60rem; */
    border-radius: 1.5rem;
    margin-right: 5rem;
}

.pic-ctn .hrline {
    margin: 18rem auto;
}

.pic-ctn>img {
    position: absolute;
    top: 90px;
    left: calc(50% - 65px);
    opacity: 0;
    animation: display 15s infinite;
    height: 8rem;
    width: 8rem;
}

img:nth-child(1) {
    animation-delay: 5s;
}

img:nth-child(2) {
    animation-delay: 10s;
}

img:nth-child(3) {
    animation-delay: 15s;
}

@keyframes text {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

.textCarouselFrameThree{
    position: relative;
    width: 30rem;
    height: 20rem;
    margin-top: 2vh;
    /* border: 3px solid black; */
    /* left: 60rem; */
    border-radius: 1.5rem;
    margin-right: 5rem;
}

.textCarouselFrameThree>div {
    position: absolute;
    /* top: 90px; */
    left: calc(50% - 250px);
    opacity: 0;
    animation: text 15s infinite;
    height: 8rem;
    width: 8rem;
}

div:nth-child(1) {
    animation-delay: 5s;
}

div:nth-child(2) {
    animation-delay: 10s;
}

div:nth-child(3) {
    animation-delay: 15s;
}
