.clipPathGroup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.image0323501Icon {
  position: absolute;
  width: 14rem;
  top: 3rem;
  left: 1rem;
  opacity: 70%;
  object-fit: cover;
  mix-blend-mode: overlay;
}
.clipPathGroupParent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
