.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* border: 1px solid red; */
}

.cube {
    width: 8rem;
    position: absolute;
    right: 15rem;
    top: 8rem;
    transform: rotate(80deg);
    animation: bounce 2.5s infinite;
}

.cube1 {
    width: 8rem;
    position: absolute;
    left: 15rem;
    top: 8rem;
    transform: rotate(-60deg);
    animation: bounce 2.5s infinite;
}

.cube2 {
    width: 12rem;
    position: absolute;
    left: 7rem;
    top: 19rem;
    transform: rotate(50deg);
    animation: bounce 2.5s infinite;
}

.cube3 {
    width: 12rem;
    position: absolute;
    right: 8rem;
    top: 19rem;
    transform: rotate(80deg);
    animation: bounce 2.5s infinite;
}

.FrameOneButton {
    width: 190px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 2.5px;
    font-weight: 800;
    color: #fff;
    background-color: #0069ec;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.FrameOneButton:hover {
    background-color: #0069ec;
    box-shadow: 0px 10px 20px #0069ec;
    color: #fff;
    transform: translateY(-5px);
    border: none;
}
