.containerReadMore .btnReadMore {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerReadMore .btnReadMore a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.containerReadMore .btnReadMore:hover a {
    letter-spacing: 3px;
}

.containerReadMore .btnReadMore a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}

.containerReadMore .btnReadMore:hover a::before {
    transform: skewX(45deg) translate(200px);
}

.containerReadMore .btnReadMore::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #CF2850;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.containerReadMore .btnReadMore:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

.containerReadMore .btnReadMore::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #CF2850;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.containerReadMore .btnReadMore:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

.containerReadMore .btnReadMore {
    display: block;
}