body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: hsl(165, 50%, 34%);
}

h3 {
	margin: 10px 0;
	color: #333333;
}

form {
	margin-bottom: 20px;
}

.section {
	margin-bottom: 10px;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 5px;
}

input[type="file"],
input[type="text"] {
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #f9f9f9;
	transition: border-color 0.3s ease;
}

input[type="file"]::-webkit-file-upload-button {
	background-color: #007bff;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
	cursor: pointer;
}

button {
	padding: 5px 10px;
	background-color: #007bff;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

#links {
	list-style-type: decimal;
	margin-left: 20px;
	color: #333333;
}