.philosophyFrameThreeContainer {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: space-between;
}

.philosophyFrameThreeContainer img {
    width: 15rem;
    height: 15rem;
    transform: rotate(180deg);
}

.philosophyFrameThreeContainer div{
    width: 65rem;
    align-self: center;
}

.philosophyFrameThreeContainer div h2 {
    text-align: end;
    font-size: 2.7rem;
    padding-right: 2rem;
    padding-top: 10rem;
}

.philosophyFrameThreeContainer div h5 {
    text-align: end;
    font-size: 1.35rem;
    padding-top: 5rem;
    padding-right: 2rem;
}

.philosophyFrameThreeContainer span {
    color: #0069ec;
}