.philosophyContainerOne {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
}

.philosophyContainerOne .circleImage90deg {
    transform: rotate(90deg);
    width: 15rem;
    height: 15rem;
    align-self: flex-end;
}

.philosophyContainerOne div {
    padding: 8rem 2rem 0rem 0rem;
    width: 50rem;
    text-align: end;
}

.philosophyContainerOne div h4 {
    font-size: 1.8rem;
    font-weight: 400;
    padding-top: 5rem;
}

.philosophyContainerOne span {
    color: #0069ec;
}

.philosophyContainerOne div h6 {
    font-size: 1.3rem;
    padding-top: 4rem;
}

.cubeImage {
    align-self: flex-start;
    padding-top: 8rem;
    width: 12rem;
    transform: rotate(20deg);
}