.philosophyFrameTwoContainer {
    height: 100vh;
    background-color: #0069ec;
    display: flex;
    flex-direction: column;
    color: white;
    scroll-snap-align: start;
}

.philosophyFrameTwoContainer h1{
    align-self: flex-end;
    width: 60rem;
    text-align: end;
    padding-top: 6rem;
    padding-right: 2rem;
    font-size: 3.2rem;
}

.philosophyFrameTwoContainer h3{
    align-self: flex-end;
    width: 50rem;
    text-align:end;
    padding-top: 3rem;
    padding-right: 2rem;
    font-weight: 400;
}

.philosophyFrameTwoContainer h5 {
    width: 43rem;
    padding-left: 2rem;
    padding-top: 4rem;
}

.philosophyFrameTwoContainer div img {
    width: 14rem;
    height: 14rem;
    margin-top: 2.2rem;
}

.philosophyFrameTwoContainer span {
    color: #69EC00;
}