.philosophyFrameFourContainer {
    height: 100vh;
}

.philosophyFrameFourContainer .sectionOne {
    height: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #0069ec;
}

.philosophyFrameFourContainer .sectionTwo {
    height: 40%;
    display: flex;
}

.sectionOne img {
    width: 14rem;
    height: 14rem;
}

.sectionTwo img {
    width: 10rem;
    height: 10rem;
    transform: rotate(90deg);
    align-self: flex-end;
}

.sectionTwo h3 {
    width: 65rem;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-left: 1rem;
}

.sectionTwo span {
    color: #0069ec;
}