.InterfacesContent {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
}

.InterfacesContent div {
    width: 16rem;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
}

.InterfacesContent div button {
    width: 10rem;
    border: 0;
    margin-top: 0.5rem;
    height: 5rem;
    border-radius: 0.5rem;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
}