.LoginSecurityContent {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
}

.LoginSecurityContent div {
    width: 18rem;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
    align-items: center;
}

.LoginSecurityContent div button {
    background-color: #007BEC;
    border: 0;
    width: 12rem;
    margin-top: 0.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
}